@tailwind base;
@tailwind components;
@tailwind utilities;
.carousel-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.carousel-container{
  margin: 20px;
  border-radius: 40px;
  overflow: hidden; 
}
 .carousel-container-small {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.carousel-img-small {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.carousel-item {
  padding: 10px;
}
